/***** reset *****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/***** generique *****/


body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background: url("../img/background.jpg") no-repeat top / 100%;
}

#wrapper{
	width: 1250px;
	margin: 0 auto;
	background-color: #fff;
    height: auto;
    margin-top: 250px;
    padding-bottom: 5em;
    border-radius: 30px;
    box-shadow: 10px 5px 5px #1298cd;
    background: rgba(221, 220, 220, 0.925);
}

ul, li, a{
	text-decoration: none;
	list-style: none;
}

h1 {
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-shadow: -5px 5px 6px #000;
    color:  #165abd;
    font-size: 70px;
}


/***** header *****/


.logo {
    height: auto;
    width: 15%;
    position: relative;
    top: -9em;
    left: 7em;
}

/***** menu *****/

nav {
    text-align: center;
}

nav li{
    display: inline-block;
}

nav a {
    display: block;
	padding: 5px 20px;
	margin: 0.7em;
	font-weight: bold;
	font-size: 18px;
	color: #fff;
    background: #1298cd;
	border: 2px solid #fff;
	border-radius: 10px 100px / 120px;
	transition: all 0.5s ease-out;
}

nav a:hover {
    border: 2px solid #fff;
	color: #fff;
	background: #165abd;
  	border-radius: 100px 10px / 100px;
}


/***** formulaire *****/

.form_01 {
    width: 40em;
    height: 24em;
    margin: 0 auto;
    margin-top: 6em;
    border: 2px solid #1298cd;
    border-radius: 20px;
    background: #fff;
}

.form-group {
    display: block;
    height: 2em;
    width: 17em;
    margin: 1em;
}

.form-control {
    height: 2.5em;
    width: 22em;
}

.form_01 h2 {
    text-align: center;
    padding-top: 1em;
}

#inputmessage {
    height: 8em;
    width: 35em;
}

.email {
    display: block;
}

.col-md-6 {
    display: inline-block;
}

.btn {
    display: block;
    height: 4em;
    width: 11em;
    font-size: 1em;
    border: 1px solid #1298cd;
    border-radius: 20px;
    margin-top: 1.5em;
    margin-left: 1em;
    background: #165abd;
    color: #fff;
}

.btn:hover {
    background: #1298cd;
    border: 2px solid black;
}

.error {
    position: relative;
    top: 5em;
    left: 20em;
    color: red;
}

.new_compte, .forgot_pswd,  a {
    color: #165abd;
}

.new_compte, .forgot_pswd,  a:hover {
    color: red;
}

.new_compte, .forgot_pswd {
    display: inline-block;
}

.new_compte {
    width: 13em;
    padding-top: 1em;
    padding-left: 1em;
}

.forgot_pswd {
    width: 13em;
    padding-top: 1em;
    padding-left: 1em;
}

.recover-password {
    grid-area: 1 / 1 / 2 / 12;
    margin-top: 5em;
    margin-left: 2em;
}

/***** contenu *****/


.main {
    margin-top: 4em;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(140px, auto);
}

.head {
    display: table;
    grid-area: 1 / 1 / 2 / 13;
    margin-top: 1.6em;
    background: linear-gradient(90deg, rgba(18,152,205,1) 0%, rgba(22,90,189,1) 45%);
    color: #fff;
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
}

.head h2 {
    vertical-align: middle;
    display: table-cell;
    font-size: 1.7em;
    text-align: center;
}

.vcard  a {
    color: #fff;
    text-decoration: underline;
}

.vcard a:hover {
    color: #051936;
    font-style: italic;
    font-weight: bold;
}

.devis {
    margin-top: 5em;
    display: table;
    height: 3em;
    width: 36em;
    text-align: center;
    background: #fff;
    border: 1px solid #1298cd;
}

.devis a {
    display: table-cell;
    vertical-align: middle;
    color: #165abd;
    font-weight: bold;
    font-size: 2em;
    transition: all 0.2s ease-in-out;
}

.devis:hover {
    transform: scale(1.05);
    box-shadow: 10px 5px 5px #1298cd;
}

.profil {
    grid-area: 2 / 2 / 5 / 6;
}

figcaption {
    font-style: italic;
    text-align: center;
}

.description {
    grid-area: 2 / 6 / 5 / 12;
    padding: 1em;
    background: linear-gradient(180deg, rgba(18,152,205,1) 0%, rgba(22,90,189,1) 45%);
    color: #ffff;    
}

.description h3 {
    font-size: 2em;
}

.photo {
    padding: 2em;
    box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #165abd, 0px 0px 5px 10px rgba(0,0,0,0);
}

.vcard {
    padding-left: 1em; 
    line-height: 2em;
}

.vcard h2 {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.mail {
    padding-top: 1em;
}

.connect {
    color: #165abd;
    font-weight: bold;
    padding-top: 1em;
}

.realisation {
    grid-area: 1 / 1 / 2 / 12;
    margin-top: 5em;
    margin-left: 2em;
}

.title {
    border-bottom: 2px solid #165abd;
    padding-bottom: 0.5em;
}

.realisation li {
    margin-top: 2em;
    margin-bottom: 2em;
}

.realisation li a {
    display: inline-block;
    text-align: center;
    padding: 1em;
    background: #1298cd;
    color: #fff;
    border: 2px dotted #fff;
    margin: 0.5em;
    border-radius: 15px;
    transition: all 0.5s ease-out;
}

.realisation li a:hover {
    transform: scale(1.15);
    border: 2px solid #fff;
    background: #165abd;
}

.realisation img {
    width: 20em;
    height: 20em;
}


/***** debut du footer *****/


.footer{
	right: 0;
	left: 0;
	bottom: 0;
	height: 25em;
    margin-top: 3em;
	padding-top: 1em;
	text-align: center;
    background: #165abd;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(12, 2fr);
    grid-auto-rows: minmax(140px, auto);
}

.lien-footer {
	display: inline-block;
}

.lien-footer a{
	display: block;
	color: #fff;
	padding: 0 1em;
	font-size: 1.1em;
    font-weight: bold;
	transition: all 0.2s ease-in-out;
}

.lien-footer a:hover{
	transform: scale(1.15);
}

.sociaux {
    grid-area: 1 / 2 / 3 / 6;
    border-radius: 30px;
    background: #1298cd;
}

.sociaux h3 {
    font-size: 1.8em;
    padding-top: 1em;
    color: #fff;
}

.sociaux li {
    display: inline-block;
    padding: 3em;
}

.sociaux img {
    height: 4em;
    transition: all 0.3s ease-out;
}

.sociaux img:hover {
    transform: scale(1.25);
}

.partenariats {
    grid-area: 1 / 6 / 3 / 12;
    border-radius: 30px;
    background: #1298cd;
}

.partenariats h3 {
    font-size: 1.8em;
    padding-top: 1em;
    color: #fff;
}

.partenariats h4 {
    font-size: 1.5em;
}

.stem, .gh {
    display: inline-block;
    padding-top: 3em;
    margin: 1em;
    width: 45%;
    height: 65%;
    background: #fff;
    border-radius: 30px;
}

.gh {
    color: #b5a00f;
}

.stem {
    color: #165abd;
}

.info {
    grid-area: 3 / 1 / 6 / 13;
    height: 2em;
    display: flex;
}

.info a {
    color: #fff;
    display: block;
}

.info li {
    display: inline-block;
    width: 10em;
    text-align: center;
    border: 1px solid black;
}



